<!DOCTYPE html>
<html>
<head>
  <title>Formulaire d'enregistrement des participants</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style2.css">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
          <li class="nav-item logo">
            <a class="nav-link link-logo" href="#">
                <img src="/Images/SIMPLON-ron.png" alt="" id="img"> 

                <span> SIMPLON CÔTE D'IVOIRE</span>
            </a>
          </li>        
          <li class="nav-item">
            <a class="nav-link" href="/formPaticipant">formulaire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listeParticipant">Liste des participants</a>
          </li>
        </ul>
      </nav>
      <h1>Liste des participants</h1>
     
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Numero</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <% participants.forEach(function(participant) { %>
            <% let dateString = participant.date; %>
            <% let date = new Date(dateString); %>
            <% let formattedDate = ("0" + date.getDate()).slice(-2) + "/" + ("0" + (date.getMonth() + 1)).slice(-2) + "/" + date.getFullYear(); %>
            <% let formattedTime = ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2) + ":" + ("0" + date.getSeconds()).slice(-2); %>
            <% let formattedDateTime = formattedDate + "-" + formattedTime; %>
            
            <tr>
              <td><%= formattedDateTime %></td>
              <td><%= participant.nom.toUpperCase() %></td>
              <td><%= participant.prenom.toUpperCase() %></td>
              <td><%= participant.telephone %></td>
              <td><%= participant.email %></td>
            </tr>
          <% }); %>
          
          
          
        </tbody>
      </table>
</body>